.sidebar-container{
    margin-top: 0px;
    width: 246px;
    height: 100vh;
background-color: #001529;
}

.sidebar-logo{
    width: 74px;
    height: 67px;
    border-radius: 50%;
    margin-top: 10px;
}
.sidebar-header{
    display: flex;
    align-items: center;
    gap: 12px;
}
h3{
    font-size: 20px;
    color: #fff;
}

.sidebar-footer{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 46px;
    margin: 290px 17px;
    gap: 8px;
}


