*{
  margin: 0;
  padding: 0;
}
.header{
  height: 100px;
  width: 77rem;
  margin-left: 290px;
}
.home{
  border: 2px solid red;
  height: 100vh;
  width: 77rem;
  background-color: #f0f2f5;
  margin-top: 34px;
  margin-left: 290px;
  transition: all 0.5s ease;}

.sidebar{
  border: 2px solid red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #001529;
  transition: all 0.5s ease;
}